$c-gray-100: #e1e1e6;
$c-gray-200: #c4c4cc;
$c-gray-300: #A9A9B2;
$c-gray-400: #8d8d99;
$c-gray-500: #7c7c8a;
$c-gray-600: #323238;
$c-gray-700: #29292e;
$c-gray-750: #202024;
$c-gray-800: #282824;
$c-gray-900: #121214;



$c-first: #212D4C;


$c-first-100: #666f98;
$c-first-200: #404668;
$c-first-300: #4C5A86;
$c-first-400: #718CD2;
$c-first-450: #16213D;
$c-first-500: #1D2845;

// $c-first-700: #0c1017;

$c-secondary: #fbce76;
$c-secondary-100: #ffed76;
$c-red-200: #c43224;
$c-red-300: #9f2f25;
$c-green-200: #29a329;