@import '../../../styles/config/variables';

.addbook-container {
    margin-top: 3rem;

    h1 {
        margin-bottom: 2rem;
    }
}

.addbook-content {

    nav {
        border-bottom: 3px solid $c-first-500;

        ul {
            display: flex;
            gap: 1.5rem;
            list-style: none;
            font-size: $h2;
            margin-bottom: 1rem;


            a {
                font-size: $h3;
                color: $c-gray-100;
                text-decoration: none;
                font-weight: bold;
                height: 100%;
                padding-bottom: 1.03rem;
            }

            a:hover,
            a:focus {
                border-bottom: 3px solid $c-secondary;
            }
        }
    }

    form {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 1rem;
        margin-top: 2rem;
        max-width: 1000px;
        width: 100%;


        label {
            font-size: $h3;
            font-weight: bold;
        }

        select {
            background-color: $c-first;
            border: 2px solid $c-gray-500;
            color: $c-gray-100;
            height: 2.75rem;
            padding-left: 1rem;
        }

        .search-book {
            position: relative;

            input {
                width: 100%;
            }

            svg {
                top: 15%;
                right: 1%;
                position: absolute;
                color: $c-gray-300;

            }
        }

    }
}

.book-result {
    margin-top: 3rem;
    border-top: 3px solid $c-first-500;

    h1 {
        margin-top: 3rem;
    }
}

.book-result section {
    display: flex;
    gap: 2rem;
    margin-bottom: 3rem;
    padding-bottom: 3rem;
    border-bottom: 3px solid $c-first-500;

    p {
        text-align: justify;
    }

    .image {
        max-width: 150px;

        img {
            filter: contrast(1.2);
            image-rendering: -webkit-optimize-contrast;
            image-rendering: crisp-edges;
            image-rendering: pixelated;
            width: 150px;
            height: 200px;
            margin-bottom: 1rem;
        }

        button {
            width: 100%;
        }
    }


    .info * {
        margin-bottom: 0.5rem;
        width: 90%;
    }

}

@media (max-width: 630px) {
    .book-result section {
        flex-wrap: wrap;
    }
}