@import '../../../styles/config/variables';

.addbook-container {
    margin-top: 3rem;

    h1 {
        margin-bottom: 2rem;
    }
}

.addbook-content {

    nav {
        border-bottom: 3px solid $c-gray-700;

        ul {
            display: flex;
            gap: 1.5rem;
            list-style: none;
            font-size: $h2;
            margin-bottom: 1rem;


            a {
                color: $c-gray-100;
                text-decoration: none;
                font-weight: bold;
                height: 100%;
                padding-bottom: 1.03rem;
            }

            a:hover {
                border-bottom: 3px solid $c-secondary;
            }
        }
    }

    form {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 1.5rem;
        margin-top: 2rem;
        max-width: 1000px;
        width: 100%;


        label {
            font-size: $h3;
            font-weight: bold;
        }

        select {
            background-color: $c-first;
            border: 2px solid $c-gray-500;
            color: $c-gray-100;
            height: 2.75rem; 
            padding-left: 1rem;
        }
        
        button {
            width: 100px;
            height: 44px;
            background-color: $c-secondary;
            border: 0;
            font-weight: bold;
            cursor: pointer;
        }

        .search-book {
            position: relative;

            input {
                width: 100%;
            }

            svg {
                top: 15%;
                right: 1%;
                position: absolute;
                color: $c-gray-300;

            }
        }
        
    }
}