@import '../../styles/config/variables';

aside {
  background-color: $c-first-450;
  width: 235px;
  padding: 0 0 1.5rem 1.5rem;
  position: fixed;
  height: 100%;
}

.sidebar-logo {
    margin: 1rem 1rem 1rem 0.5rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    .sidebar-logo-text {

      span {
        font-size: 2rem;
        display: block;
      }
    }
}

.sidebar-nav {

  ul {
    list-style: none;
    padding: 0;

    li {
      width: 100%;
      cursor: pointer;
      &.active,
      &:hover,
      &:active {
        background: $c-first;
        color: $c-gray-100;
      }
    }

    a {
      display: flex;
      align-items: center;
      gap: 1rem;
      text-decoration: none;
      color: $c-gray-200;
      font-size: 1rem;
      padding: 1rem 1rem 1rem 0.5rem;
      width: 100%;     
      padding-left: 1rem;
 
    }
  }
}


@media (max-width: 1120px) {
  .sidebar-logo {
    display: none;
  }
}

