@import './config/variables';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;

    &:focus {
        outline: 0;
        box-shadow: 0 0 0 2px $c-secondary;
    }
}

body {
    -webkit-font-smoothing: antialiased;
    background-color: $c-first;
    color: $c-gray-100;
}

input,
textarea,
button {
    font-size: 400;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.app {
    display: flex;
}

.content {
    flex: 1;
    padding: 20px;
}

.content.with-sidebar {
    margin-left: 2rem;
}


@media (max-width: 1120px) {
    .app {
        display: block;
    }

    .content.with-sidebar {
        padding: 0;
        margin-left: 0px;
        margin-top: 6rem;
    }
}
