@import './config/variables';
@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto Serif", serif;

    &:focus {
        outline: 0;
        box-shadow: 0 0 0 2px $c-secondary;
    }
}

body {
    -webkit-font-smoothing: antialiased;
    background-color: $c-first;
    color: $c-gray-100;
}

input,
textarea,
button {
    font-size: 400;
}

.text-yellow {
    background: -webkit-linear-gradient(97deg, rgba(255,237,118,1) 0%, rgba(247,177,118,1) 100%);
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: $h1;
}


.btn-yellow {
    background: rgb(255,237,118);
    background: linear-gradient(135deg, rgba(255,237,118,1) 0%, rgb(251, 171, 105) 95%);
    color: $c-first;
    width: 120px;

    &:disabled {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.5rem;
        width: calc(120px + 25px);
        background: $c-first-450;
        color: $c-gray-200;
        cursor: not-allowed;

    }

}

.title {
    border-bottom: 2px solid $c-first-450;
    margin-bottom: 2rem;

    h1 {
        display: inline;
        color: $c-secondary;
        font-weight: 700;
        border-bottom: 2px solid $c-secondary;
    }
}

.btn-red {
    background-color: $c-red-200;
    color: $c-gray-100;

}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
}

.app {
    display: flex;
}

.content {
    flex: 1;
    padding: 20px;
}

.content.with-sidebar {
    margin-left: 2rem;
}

.span-erros {
    display: block;
    font-size: $small;
    color: $c-first-100;
    margin: 0.5rem 0;
}


@media (max-width: 1120px) {
    .app {
        display: block;
    }

    .content.with-sidebar {
        padding: 0;
        margin-left: 0px;
        margin-top: 6rem;
    }
}
