@import './config/variables';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto Mono', sans-serif;

    &:focus {
        outline: 0;
        box-shadow: 0 0 0 2px $c-secondary;
    }
}

body {
    -webkit-font-smoothing: antialiased;
    background-color: $c-first;
    color: $c-gray-100;
}

input,
textarea,
button {
    font-size: 400;
}

.text-yellow {
    background: -webkit-linear-gradient(97deg, rgba(255,237,118,1) 0%, rgba(247,177,118,1) 100%);
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: $h1;
}


.btn-yellow {
    background: rgb(255,237,118);
    background: linear-gradient(139deg, rgba(255,237,118,1) 0%, rgba(247,177,118,1) 100%);
    color: $c-first;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
}

.app {
    display: flex;
}

.content {
    flex: 1;
    padding: 20px;
}

.content.with-sidebar {
    margin-left: 2rem;
}


@media (max-width: 1120px) {
    .app {
        display: block;
    }

    .content.with-sidebar {
        padding: 0;
        margin-left: 0px;
        margin-top: 6rem;
    }
}
