@import '../../styles/config/variables';

.spinner {
    .spinner-circle {
        border: 3px solid $c-first-200;
        border-top: 3px solid $c-first-450;
        border-radius: 50%;
        width: 25px;
        height: 25px;
        animation: spin 1s linear infinite;
    }

    @keyframes spin {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }
}