@import '../../../styles/config/variables';

.catalog {

    .book-card {
        display: flex;
        align-items: flex-start;
        gap: 1rem;
        border: 2px solid $c-first-450;
        border-radius: 8px;
        padding: 1.5rem;
        margin-top: 4rem;
        height: auto;
        max-width: 1100px;

        .book-details h2,
        p {
            margin-bottom: 10px;

        }

        .book-details .author {
            color: $c-first-100;
        }

        .description {
            text-overflow: ellipsis;
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 5;
            -webkit-box-orient: vertical;
            line-height: 1.5em;
        }
    }

    .book-card:hover {
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        cursor: pointer;
    }

    .book-image img{
        width: 8rem;
        display: block;
    }
}