@import '../../../styles/config/variables';

.count-content {
    font-family: 'Roboto Mono', sans-serif;
    font-size: 10rem;
    line-height: 8rem;

    display: flex;
    gap: 1rem;

    span {
        background: $c-first-500;
        padding: 2rem 1rem;
        border-radius: 8px;
    }

    .count-separator {
        padding: 2rem 0;      
        width: 4rem;
        overflow: hidden;
        display: flex;
        justify-content: center;
        color: $c-secondary;
    }
}