@import '../../../styles/config/variables';

.book {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

.book-container {
    width: 80%;
    display: flex;
    justify-content: center;
    gap: 3rem;

    h1 {
        margin-bottom: 1rem;
    }

    img {
        width: 60%;
    }
}

.book-info {
    flex: 1 1 50px;

    p {
        margin-top: 1rem;
    }

    .timer {
        display: flex;
        align-items: center;
    }

    svg {
        color: $c-gray-500;
        font-size: 1.5rem;
        
    }
}

.book-btn {
    display: flex;
    gap: 1rem;
    .button-ler {
        background: $c-secondary-100;
        background: linear-gradient(139deg, $c-secondary-100, 0%, $c-secondary 100%);
        width: 50%;
        letter-spacing: 1px;
        margin-top: 2rem;
    }
    
    .button-fav {
        background-color: #2e3039;
        color: $c-gray-100;
        width: 50%;
        letter-spacing: 1px;
        margin-top: 2rem;
    }
}

@media (max-width: 1120px) {
    .book-container {
        flex-direction: column-reverse;
    }
}