@import '../../styles/config/variables';

.library-header {
    display: flex;
    align-items: center;
    gap: 1rem;

    form {
        display: flex;
        align-items: center;
        position: relative;
        width: 100%;
        
        input[type="text"] {
            width: 100%;
        }

        button[type="submit"] {
            border: 0;
            background: transparent;
            cursor: pointer;

            svg {
                position: absolute;
                top: 13%;
                right: 1%;
                color: $c-gray-300;
            }
        }
    }

    
}

.loading {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;

}