@import '../../styles/config/variables';

.Header {
    background-color: $c-first;
    width: 235px;

    .sidebar-logo {
        padding: 1.5rem 0 1.5rem 1.5rem;
    }

    .show-navbar {
        display: none;
        margin: 0 1rem;
        background: transparent;
        border: 0;
        cursor: pointer;

        svg {
            color: $c-gray-100;
        }
    }

}

@media (max-width: 1120px) {
    .Header {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        top: 0;
        left: 0;
        z-index: 1000;

        .show-navbar {
            display: block;
        }
    }

    #aside {
        position: fixed;
        width: 100%;
        top: 70px;
        right: 0;
        z-index: 1000;
        height: 0;
        visibility: hidden;
        overflow-y: hidden;
        padding: 0;
        transition: 0.3s linear;
    }

    #aside.active {
        height: calc(100vh - 70px);
        opacity: 1;
        visibility: visible;
        overflow-y: auto;
    }
}

