@import '../../../styles/config/variables';

.addcatolog-container {

    h1 {
        margin: 1.5rem 0;
        padding: 1.5rem 0;
        border-bottom: 2px solid $c-first-500;
    }

    form {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        max-width: 1000px;
        width: 100%;

        button {
            width: 100px;

        }   

        label {
            font-size: $h3;
            font-weight: bold;
        }

    }
}