@import '../../styles/config/variables';

.Tooltip {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 230px;
    height: auto;
    position: fixed;
    top: 20px;
    z-index: 1000;
    right: -30%;
    gap: 0.5rem;
    border-radius: 8px;
    transition: 0.5s ease-in-out;

    button {
        border: none;
        background: none;
        cursor: pointer;
        font-size: 12pt;
        margin: 6px;
        color: $c-gray-100;
    }

    span {
        margin: 1rem;
    }
}

.showModal {
    background-color: $c-green-200;
    right: 60px;
    opacity: 1;
    visibility: visible;
    transition: 0.5s ease-in-out;
}

.showModalError {
    background-color: $c-red-200;
}

@media (max-width: 1120px) {
    .Tooltip {
        right: -100%;
    }
    
    .showModal {
        background-color: $c-green-200;
        right: 10px;
        opacity: 1;
        visibility: visible;
        transition: 0.5s ease-in-out;
    }

    .showModalError {
        background-color: $c-red-200;
    }
}