@import '../../styles/config/variables';

.bookshelves-content {
    width: 100%;
    display: flex;
    flex-direction: column;

    .bookshelves-book {
        margin-left: 1rem;
        display: flex;
        align-items: self-end;
        gap: 1rem;
        overflow-x: auto;
        // justify-content: space-evenly;

        a {
            height: 100%;
            display: block;
        }

        img {
            height: 12rem;
            display: block;
            image-rendering: -webkit-optimize-contrast;
            image-rendering: crisp-edges;
            image-rendering: pixelated;
            -webkit-box-shadow: -17px 14px 33px 5px rgba(0, 0, 0, 0.38);
            -moz-box-shadow: -17px 14px 33px 5px rgba(0, 0, 0, 0.38);
            box-shadow: -17px 14px 33px 5px rgba(0, 0, 0, 0.38);
        }
    }
}

.bookshelve {
    width: 100%;
    height: 1.8rem;
    background-color: $c-first-300;
    box-shadow: rgba(0, 0, 0, 0.581) 0px 20px 25px -5px, rgba(0, 0, 0, 0.395) 0px 10px 10px -5px;
    margin-bottom: -5px;
    border-radius: 4px 4px 10px 10px;
}

.no-categories {
    text-align: center;
    margin-top: 1rem;
}

.bookshelves-title-catalog {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2rem;

    a {
        color: $c-gray-100;
    }
}

.bookshelves-container {
    margin-top: 6.25rem;
}
