@import '../styles/config/variables';

input {
    background-color: #2a2b40;
    border: 2px solid #7c7c8a;
    color: #e1e1e6;
    padding: 1rem;
    height: 2.75rem;
}

button {
    height: 2.75rem;
    
    border: 0;
    font-weight: bold;
    cursor: pointer;
}