@import '../styles/config/variables';

input {
    background-color: $c-first-500;
    border: 2px solid $c-first-400;
    color: #fff;
    padding: 1rem;
    height: 2.75rem;

    &::placeholder {
        color: $c-first-300;
    }
}

button {    
    height: 2.75rem;
    border: 0;
    font-weight: bold;
    cursor: pointer;
}

@media (max-width: 1120px) {
    .layout-container {
        margin: 1rem;
    }
}
